.about-message {
    text-align: center;
    margin: 24px;
    p {
        text-align: center;
    }
    h3 {
        padding: 24px 0;
    }
    h4 {
        padding: 16px 0;
    }
}

.go-to-homepage {
    color: #838B55;
    &:hover {
        text-decoration: none;
        color: rgba(131, 139, 85, 0.5);
    }
}
