// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "about";
@import "whatisinseason";
@import "articles";
@import "show";
@import "not_found";
// @import "internal_error";




.producers.index {
  margin-top: 80px;
}

.pages.about {
  margin-top: 80px;
}

.pages.whatisinseason {
  margin-top: 80px;
}

.pages.articles {
  margin-top: 80px;
}
