.pages.profile {
  margin-top: 80px;
}

.welcome, h3 {
  letter-spacing: 3px;
}

.info-container {
  // letter-spacing: 3px;
  // border: 1px solid $gray;
  // width: 500px;
  // max-height: 400px;
  // padding: 20px;
  // margin-right: 20px;
    letter-spacing: 3px;
    border: 1px solid #394648;
    width: 100%;
    // max-height: 420px;
    padding: 20px;
  .avatar-info {
    text-align: center;
    margin-bottom: 30px;
    .update-info-links {
    }
  }
}

@media (max-width: 575.98px) {
  .body-container {
    flex-direction: column;
    .info-container {
      margin: 10vh 15vw;
    }
  }
}

#avatar-photo {
  width: 40px;
}

.name a {
  color: $green;
}

.saved-container h5 {
  letter-spacing: 3px;
}
