.producer-banner {
  position: relative;
}

.avatar {
  position: relative;
  left: 40px;
  bottom: 40px;
}

h2, h4 {
  letter-spacing: 3px;
}

.news-header, .product-name, .producer-description {
  text-align: center;
}

.card-product-infos p {
  text-align: center;
}

.producer-banner h2 {
  font-weight: lighter;
}
