

<div class="footer">
  <div class="footer-content d-flex justify-content-around">
    <div class="footer-section-contact flex-column align-items-center">
      <p><i class="fas fa-home mr-1"></i> Lisbon, Portugal</p>
      <p><i class="fas fa-envelope mr-1"></i> eatlocal419@gmail.com</p>
    </div>
    <div class="footer-section-social-media">
      <div class="social-media-links d-flex justify-content-center">
        <a class="fab fa-facebook-f" href="#" target="blank"></a>
        <a class="fab fa-instagram" href="#" target="blank"></a>
        <a class="fab fa-twitter" href="#" target="blank"></a>
      </div>
    </div>
  </div>
</div>
