<footer class="page-footer font-small footer">
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-3">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12 mx-auto mb-md-0">
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <p><i class="fas fa-home mr-1"></i> Lisbon, Portugal</p>
        <p><i class="fas fa-envelope mr-1"></i> eatlocal419@gmail.com</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12 mx-auto mb-md-0">
        <div class="social-media">
          <a class="fab fa-facebook-f" href="#" target="blank"></a>
          <a class="fab fa-instagram" href="#" target="blank"></a>
          <a class="fab fa-twitter" href="#" target="blank"></a>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://eatlocal1.herokuapp.com/"> EatLocal.com</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Links -->
</footer>

<div class="footer">
  <div class="footer-content">
    <div class="footer-section contact">
      <h6>CONTACT</h6>
      <p><i class="fas fa-home mr-1"></i> Lisbon, Portugal</p>
      <p><i class="fas fa-envelope mr-1"></i> eatlocal419@gmail.com</p>
    </div>
    <div class="footer-section social-media">
      <a class="fab fa-facebook-f" href="#" target="blank"></a>
      <a class="fab fa-instagram" href="#" target="blank"></a>
      <a class="fab fa-twitter" href="#" target="blank"></a>
    </div>
  </div>

  <div class="footer-bottom">
  </div>
</div>
