<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to <strong>eatLocal</strong> <%= @producer.name %></h1>
    <p>
      Your application to become a featured producer on eatLocal was accepted.
      You will be contacted to gather the necessary information.<br>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
