<div class="about-message">
    <h4>Welcome to EatLocal 🤗</h4>
    <p><strong>Are you curious?</strong></p>
    <p>Say hello to your new adventure.</p>
    <p>Eat Local was founded because of a little project where the objective was to learn more about programming 😉 witch started in the middle of June/2020.
    <br>Regarding to this marvelous app, our goal is to show you a little bit of the local producers you have near you. If your reading this is because you already pass through the landing page where you can go there <%= link_to "again", :root, class: "go-to-homepage" %> and search for your location.
    <br>Don't get lost in our app because I'm sure you will, enjoy as much as possible 😄 </p>
    <p>EatLocal Team which you the best.</p>
</div>