<div class="about-message">
  <h4>Welcome to EatLocal</h4>
  <h4>How does it work?</h4>
  <p>EatLocal is an initiative that aims to connect local farmers with communities near them. </p>
  <p>Connect and get in touch with nearby farmers following sustainable agricultural practices.</p>
  <p>Learn more about agricultural producers near you, and have the opportunity to order directly from them.</p>
  <h4>.. Continue to do good!</h4>
  <li>For the Farmer – Help spreading the word about high quality products</li>
  <li>For the Environment – Increased soil health, reduced food miles and wastage</li>
  <li>For the Community – Increased social and economic development in your local area</li>
</div>
