<div class="container">
  <div class="flex-column">
    <h1 class="text-center">Discover the latest news on local producers</h1>
    <div class="card p-3">
      <h4>Algarve farmers asking for support</h4>
      <p>in Algarve · 24-04-2020 01:00:00 </p>
      <p>A group of associations and agricultural producers in the Algarve has written an open letter to the Ministry of Agriculture to support more small local production.
        At a time when the economy is being affected by the Covid-19 pandemic, the group alerted the ministry led by Maria do Céu Albuquerque, to the importance of “not continuing to make mistakes” with policies that, they say, have only encouraged “the way of exports” and “careless response to domestic needs ”, as well as support for small producers.
        In a statement, the group considered that the agricultural sector is being “severely affected by the pandemic” and that “the Ministry of Agriculture cannot have two weights and two measures for primary operators”, appealing exclusively to consumers to choose to “consume national products” as a way of defending small producers.
        “There are many agricultural producers who are unable to sell their products”, said the group composed by the Association for the Defense of the Cultural and Environmental Heritage of the Algarve (Almargem), the Associação das Terras and of the People of the Mediterranean Diet, the Slow Food Movement of the Algarve, the Glocal Faro Movement and 12 agricultural producers in the region.
        The signatories of the open letter argue that producers with fruits “mainly for export” saw “distribution channels closed” due to the fall in the hotel sector and exports.

        At the same time, “small-scale and local production” has been affected by the closure of local and street markets and the cancellation of orders by large supermarkets and restaurants, they add.
        The group therefore wants to stop “financial support for the withdrawal from the market of products supported in its installation and maintenance phase, which uses temporary labour from outside sources” and “use internal natural resources ( such as increasingly scarce water)”.
        According to the group, “different production models” are at stake, one of them “very organised, more resource-consuming and turned almost exclusively to exports” and the other without an organised structure for distribution due to the small scale and diversity of products, but “adapted to the food needs of each location” and with “more sustainable management of resources”.
        “It is important that correct and fair measures are taken, that is just what small production and citizens demand, in defense of safeguarding and strengthening autonomy, diversity, freshness and food quality”, they defended.
        The group members also called for the reopening of producer markets, with “appropriate prevention measures” to allow “the flow of production and the supply of fresh and quality products”.
        </p>
    </div>
  </div>
</div>
