<!-- <div id="carouselExampleControls" class="carousel slide banner" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag ("wine.png"), class: "d-block w-100"%>
    </div>

    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1474979266404-7eaacbcd87c5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9" class="d-block w-100" alt="Olive Oil">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1551083872-51c5fa407eef?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9" class="d-block w-100" alt="Honey">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>  -->
<div class="container">
  <%= render "search_bar" %>
  
  <footer class="page-footer font-small footer">

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <div>
          <div class="col-md-12 col-lg-12 col-xl-12 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3"></i> Lisbon, Portugal</p>
            <p>
              <i class="fas fa-envelope mr-3"></i> eatlocal419@gmail.com</p>
          </div>

          <div class="social-media">
            <a class="fab fa-facebook-f" href="#" target="blank"></a>
            <a class="fab fa-instagram" href="#" target="blank"></a>
            <a class="fab fa-twitter" href="#" target="blank"></a>
          </div>
          <!-- Grid row  <div class="row mt-3"> -->
          
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://eatlocal1.herokuapp.com/"> EatLocal.com</a>
          </div>
        </div>

    </div>
    <!-- Footer Links -->

    
  </footer>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1574588119566-e838853589ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1356&q=80);">
  <div class="banner-container">
    <h1>EAT LOCAL</h1>
    <p>Discover local producers near by and be inspired</p>
    <%= render "search_bar" %>
  </div>
</div>

