<div class="vegetables">
  <div>
    <h1>Spring</h1>
    <ul>
      <li>Celery Head</li>
      <li>Stalk Celery</li>
      <li>Artichoke</li>
      <li>Chard</li>
      <li>Cress</li>
      <li>White Onion</li>
      <li>Courgette</li>
      <li>Radish</li>
      <li>Pumpkin</li>
      <li>Peas</li>
      <li>Lettuce</li>
      <li>Beet</li>
      <li>Carrot</li>
      <li>Yellow Onion</li>
      <li></li>
    </ul>
  </div>

</div>