<div class="card info-window border-0 rounded-1">
  <%= cl_image_tag(producer.photos.first.key, class: "card-img-top") %>
   <div class="card-body bg-light">
    <h6 class="card-title"><%= link_to producer.name, producer_path(producer.id) %></h6>
    <div id="favorite-star-map-<%= producer.id %>">
      <%= render "favorite_star", producer: producer %>
    </div>
  </div>
</div>

