.btn-main {
  color: $gray;
  border: 2px solid $gray;
  padding: 8px 24px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  letter-spacing: 4px;
  font-weight: Semi-bold;
}

.btn-main:hover {
  opacity: 1;
  text-decoration: none;
  color: $black;
  border: 2px solid $black;
}

.btn-green {
  color: $green;
  border: 1.5px solid $green;
  padding: 8px 24px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  letter-spacing: 4px;
  font-weight: Semi-bold;
}

.btn-green:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
  border: 2px solid $green-hover;
  color: $green-hover;
}
