.btn-main {
  color: #394648;
  border: 2px solid #394648;
  padding: 8px 24px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  letter-spacing: 4px;
  font-weight: Semi-bold;
}

.btn-main:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
  border: 2px solid black;
}

.btn-green {
  color: #838B55;
  border: 1.5px solid #838B55;
  padding: 8px 24px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  letter-spacing: 4px;
  font-weight: Semi-bold;
}

.btn-green:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
  border: 2px solid #6B7246;
  color: #6B7246;
}
