.producer-card {
  overflow: hidden;
  background: $white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  flex-grow: 1;
}

.producer-card a {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #6B7246;
}

.producer-card p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.producer-card > img {
  height: 180px;
  width: 400px;
  object-fit: cover;
  padding-top: 10px;
}

.producer-card .card-infos {
  padding: 16px;
  display: flex;
}

.specific-info {
   display: flex;
  p {
    margin: 0;
    margin-left: 10px;
  }
}
