.footer {
    position:fixed;
    bottom:0;
    flex-shrink: 0;
    width: 100%;
    padding: 0;
    background-color: rgba(242,242,240,0.7);
    margin-top: 10px;
    font-size: 10px;
    height: 100px;


    a {
      color: $green;
      padding: 0 10px;
      font-size: 14px;
      &:hover {
        color: $green-hover;
        text-decoration: none;
      }
    }

  .social-media {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
