.footer {
    // position:fixed;
    bottom:0;
    flex-shrink: 0;
    width: 100%;
    padding-top: 16px;
    background-color: #F1F7EE;
    font-size: 10px;
    height: 70px;


    a {
      color: $green;
      padding: 0 10px;
      font-size: 18px;
      &:hover {
        color: $green-hover;
        text-decoration: none;
      }
    }
}

.footer-section-contact {
  p {
    margin-bottom: 6px;
  }
}

.footer-section-social-media {
  .social-media-links {
    padding-top: 7px;
  }
}
