.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-box {
  height: 100vh;
  position: sticky;
  top: 0;
}

#button-map {
  color: #6B7246;
  border-color: white;
  background-color: #6B7246;
}
