.navbar-lewagon {
  z-index: 9999;
  top: 0;
  position: fixed;
  width: 100%;
  // justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  letter-spacing: 3px;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 1;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.pages.home {
  .navbar-lewagon {
    background-color: transparent;
  }
}

//.nav-topic {
//  text-shadow: 1px 1px 1px rgba(221, 219, 219, 0.8);
//}

@media (max-width: 1222px) {
  .navbar-nav {
    text-align: right;
    background-color: white;
    padding-right: 10px;
    ul {
      width: 300px;
    }

  }
}
