.card-category {
  margin-top:60px;
  background-size: cover;
  background-position: center;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.producer_details {
  margin-left: 50px;
  margin-right: 20px;
}

.card-body {
  padding: 15px;
  background-color: white;
}

.btn-main {
  margin-top: 50px;
}

.list-group-item {
  background-color: white;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 30px;
}




.container_grid {
  padding: 6px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 5px;
  grid-auto-flow: dense;
}

.container_grid img {
  padding: 5px;
   width: 100%;
   height: 100%;
}

.horizontal{
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big{
    grid-column: span 2;
    grid-row: span 2;
}
