.big-container {
  position: relative;
}

#map-button {
  outline: none;
  position: absolute;
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  background-color: $light-gray;
}

.specific-info {
   display: flex;
  p {
    margin: 0;
    margin-left: 10px;
  }
}

#mapModal {
  position: relative;
}

#modal-close-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-style: hidden;

  .close:hover {
    opacity: 0.5;
  }

  .close:focus, .close:active {
    outline: none;
  }
}

.searchbar h6 {
  letter-spacing: 4;
}

// .info a {
//   color: $green-hover;
// }

.badge-light {
  position: absolute;
  top: 20px;
  right: 20px;
}

#product-search {
  width: 125px;
}

